body {
  background-color:silver;
  background-image: url(../png/background2.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional: it makes the background image fixed during scroll */
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }

  .topnav .navbar-image {
    margin-right: auto;
    height: 40px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: burlywood;
    color: white;
  }

  /* Used to center text */
  .center-text {
    text-align: center;
  }

  /* Used to outline form */
  .form-container{
    width: 400px; /* or any size you want */
    border: 2px solid #000000; /* this creates the border, black in this case */
    background-color: #f0f0f0; /* this sets the background color, light grey here */
    padding: 20px; /* this adds space inside the square, around the form */

    margin: 0 auto; /* This will center the container horizontally */
    position: absolute; /* Position absolute to the nearest positioned ancestor or to the body */
    top: 40%; /* 50% from the top of the screen */
    left: 50%; /* 50% from the left of the screen */
    transform: translate(-50%, -50%); /* This will offset the container by its own height and width */
    opacity: .85;
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333; /* Your desired background color */
    color: white; /* Your desired text color */
    text-align: left; /* Aligns the text to the left */
    padding: 10px 20px; /* Adjust the padding as needed */
  }
